:root {
  --background-primary: #FDD3D0;
  --background-secondary: #FCB3AD;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}